<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Contraseña Actualizada</h1>
  <p>Estimado usuario,</p>
  <p>La contraseña de su casillero ha sido actualizada exitosamente.</p>
  <p>La nueva secuencia de gestos es:</p>
  <ul>
    <% @gestures.each do |gesture| %>
      <li><%= gesture %></li>
    <% end %>
  </ul>
  <p>Por favor, utilice esta secuencia para acceder a su casillero.</p>
  <p>Gracias por confiar en nuestro servicio.</p>
</body>
</html>