<div class="modal fade" id="updatePasswordModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Actualizar Contraseña</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <div class="gestures-container mb-3">
          <h6>Selecciona 4 gestos en orden:</h6>
          <div class="d-flex flex-wrap gap-2 justify-content-center">
            <% @controller.model.gestures.each do |gesture| %>
              <button type="button" 
                      class="btn btn-outline-primary gesture-btn"
                      data-gesture-symbol="<%= gesture.symbol %>"
                      data-gesture-name="<%= gesture.name %>">
                <%= gesture.symbol %>
              </button>
            <% end %>
          </div>
        </div>

        <div class="selected-gestures mb-3">
          <h6>Secuencia seleccionada:</h6>
          <div class="d-flex justify-content-center gap-2" id="selectedGesturesContainer">
            <div class="gesture-placeholder">_</div>
            <div class="gesture-placeholder">_</div>
            <div class="gesture-placeholder">_</div>
            <div class="gesture-placeholder">_</div>
          </div>
        </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="updatePasswordBtn" disabled>
          Actualizar Contraseña
        </button>
      </div>
    </div>
  </div>
</div>
