<div class="modal fade" 
     id="updatePasswordModal" 
     data-controller="locker"
     data-locker-target="modal"
     data-action="show.bs.modal->locker#handleModalShow"
     tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header border-secondary">
        <h5 class="modal-title">Actualizar Contraseña</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <div class="mb-4" data-locker-target="container">
          <h6 class="mb-3">Secuencia actual:</h6>
          <div class="d-flex justify-content-center gap-3" data-locker-target="sequenceDisplay">
            <div class="sequence-slot" data-locker-slot>_</div>
            <div class="sequence-slot" data-locker-slot>_</div>
            <div class="sequence-slot" data-locker-slot>_</div>
            <div class="sequence-slot" data-locker-slot>_</div>
          </div>
        </div>

        <div class="gesture-options">
          <h6 class="mb-3">Selecciona los gestos:</h6>
          <div class="d-flex flex-wrap gap-2 justify-content-center">
            <% @controller.model.gestures.each do |gesture| %>
              <button class="btn btn-primary gesture-option"
                      data-action="locker#addGestureToSequence"
                      data-locker-gesture-symbol="<%= gesture.symbol %>">
                <%= gesture.symbol %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="modal-footer border-secondary">
        <button type="button" 
                class="btn btn-secondary" 
                data-action="locker#clearSequence">
          Limpiar
        </button>
        <button type="button" 
                class="btn btn-outline-light" 
                data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="button" 
                class="btn btn-primary" 
                data-locker-target="updateButton"
                data-action="locker#updatePassword" 
                disabled>
          Actualizar Contraseña
        </button>
      </div>
    </div>
  </div>
</div>